{% extends '_template.html.twig' %}

{% block body %}
<div class="section">
    {{ include('/includes/flashes.html.twig')}}
    {{ form_start(PasswordEditForm)}}
    {{ form_row(PasswordEditForm.password) }}
    <button class="button is-success" type="submit">Editer mot de passe</button>
    <a class="button" href="{{path('home')}}">Annuler</a>
    {{ form_end(PasswordEditForm)}}
</div>
{% endblock %}